.loader__container {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: rgba(255, 255, 255, 0.8);
}

.loader__container__item {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border-top: 0.4rem dotted red;
    border-left: 0.4rem dotted red;
    border-bottom: 0.4rem dotted red;
    border-right: 0.4rem solid transparent;
    animation: loader 0.5s infinite;
}
@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}
